<!DOCTYPE html>
<!--[if lt IE 7]>
    <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
    <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
    <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="ACME Inc.">
    <title>Login page | Suprepose.NET</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/bootstrap-theme.min.css">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" media="screen" href="css/bootstrap-theme.min.css">
    <!-- Bootstrap Admin Theme -->
    <link rel="stylesheet" media="screen" href="css/bootstrap-admin-theme.css">
    <link rel="stylesheet" media="screen" href="css/animate.css">

    <link rel="stylesheet" media="screen" href="css/json-formatter.css">
    <!-- Custom styles -->
    <style type="text/css">
        .alert { margin: 0 auto 20px; }
    </style>
</head>
<body ng-app="superposeWebApp" class="bootstrap-admin-without-padding">
<!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">
        upgrade
        your browser
    </a> to improve your experience.</p>
<![endif]-->
<!-- Our Website Content Goes Here -->
<!-- small navbar -->
<nav ng-include src="'partials/header_top.html'" class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar-sm" role="navigation"></nav>
<!-- main / large navbar -->
<nav ng-include src="'partials/header.html'" class="navbar navbar-default navbar-fixed-top bootstrap-admin-navbar bootstrap-admin-navbar-under-small" role="navigation"></nav>
<div class="well-lg">
    <br/>
    <br/>
</div>
<div class="container" ng-controller="ActorsCtrl">
    <div class="row">
        <div class="col-md-2 bootstrap-admin-col-left" ng-include src="'partials/side_menu.html'"> </div>
        <div class="col-md-7" ng-view> </div>
        <div class="col-md-3">
            <div class="row">
                <div class="col-sm-12">


                    <div class="bootstrap-admin-login-form">
                        <span>Worker Pool Count</span>
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="jobQueue.WorkerPoolCount">
                        </div>
                        <span>Max Number Of Jobs Per Load</span>
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="jobQueue.MaxNumberOfJobsPerLoad">
                        </div>
                        <span>Storge Poll Seconds Interval</span>
                        <div class="form-group">
                            <input class="form-control" type="text" ng-model="jobQueue.StorgePollSecondsInterval">
                        </div>
                        <button class="btn btn-lg btn-primary" ng-click="updateCurrentQueue()">Update</button>
                        <button class="btn btn-lg btn-{{stop?'success':'danger'}} pull-right" ng-click="stopProcessing(!stop);">{{stop?'Start':'Stop'}}</button>
                    </div>

                </div>
            </div>


            <!--

            <div class="row">
                <div class="col-lg-12">

                    <form method="post" action="about.html" class="bootstrap-admin-login-form">
                        <h1>Login</h1>
                        <div class="form-group">
                            <input class="form-control" type="text" name="email" placeholder="E-mail">
                        </div>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password" placeholder="Password">
                        </div>
                        <div class="form-group">
                            <label>
                                <input type="checkbox" name="remember_me">
                                Remember me
                            </label>
                        </div>
                        <button class="btn btn-lg btn-primary" type="submit">Submit</button>
                    </form>
                </div>
            </div>
            -->
        </div>
    </div>


</div>
<!-- footer -->
<div class="navbar navbar-footer" ng-include src="'partials/footer.html'"></div>
<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/angular-route.min.js"></script>
<script src="js/json-formatter.js"></script>
<script src="js/jquery.signalr-2.2.0.min.js"></script>
<script src="/signalr/hubs"></script>
<script src="js/script.js"></script>
</body>
</html>