<!-- left, vertical navbar & content -->

<!-- left, vertical navbar -->

<!-- content -->

<ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">


    <li>
        <a style="cursor: pointer" ng-click="getJobs('Queued',10,0,'DefaultJobQueue')"><i class="fa fa-refresh"></i>&nbsp;<span class="badge pull-right label-{{statistics.TotalQueuedJobs?'primary':'default'}}">{{statistics.TotalQueuedJobs}}</span> Queued</a>
    </li>
    <li>
        <a style="cursor: pointer" ng-click="getJobs('Processing',10,0,'DefaultJobQueue')"><i class="fa fa-refresh"></i>&nbsp;<span class="badge pull-right label-{{statistics.TotalProcessingJobs?'warning':'default'}}">{{statistics.TotalProcessingJobs}}</span> Processing</a>
    </li>

    <li>
        <a style="cursor: pointer" ng-click="getJobs('Successfull',10,0,'DefaultJobQueue')"><i class="fa fa-refresh"></i>&nbsp;<span class="badge pull-right label-{{statistics.TotalSuccessfullJobs?'success':'default'}}">{{statistics.TotalSuccessfullJobs}}</span> Successfull</a>
    </li>
    <li>
        <a style="cursor: pointer" ng-click="getJobs('Failed',10,0,'DefaultJobQueue')"><i class="fa fa-refresh"></i>&nbsp;<span class="badge  pull-right label-{{statistics.TotalFailedJobs?'danger':'default'}}">{{statistics.TotalFailedJobs}}</span> Failed</a>
    </li>
    <li>
        <a style="cursor: pointer" ng-click="getJobs('Unknown',10,0,'DefaultJobQueue')"><i class="fa fa-refresh"></i>&nbsp;<span class="badge pull-right label-{{statistics.TotalUnknownJobs?'warning':'default'}}">{{statistics.TotalUnknownJobs}}</span> Unknown</a>
    </li>
    <li>
        <a style="cursor: pointer" ng-click="getJobs('Deleted',10,0,'DefaultJobQueue')"><i class="fa fa-refresh"></i>&nbsp;<span class="badge pull-right label-{{statistics.TotalDeletedJobs?'warning':'default'}}">{{statistics.TotalDeletedJobs}}</span> Deleted</a>
    </li>
    <li>
        <a style="cursor: pointer" ng-click="getJobs('All',10,0,'DefaultJobQueue')"><i class="fa fa-refresh"></i>&nbsp;<span class="badge pull-right label-{{statistics.TotalNumberOfJobs?'info':'default'}}">{{statistics.TotalNumberOfJobs}}</span> All</a>
    </li>
    <li class="active">
        <a style="cursor: pointer" ng-click="queueSampleJob()"><i class="glyphicon glyphicon-chevron-right"></i>Queue Sample Job</a>
    </li>
    <li ng-show="jobExecuting">
        <a >
            <div class="alert alert-success">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                Executing {{jobExecuting}}
            </div>
        </a>
    </li>
    <!--
    <li >
        <a style="cursor: pointer" ng-click="setQueueMaxNumberOfJobsPerLoad()"><i class="glyphicon glyphicon-chevron-right"></i>Update Max Job PerLoad</a>
    </li>
    <li >
        <a style="cursor: pointer" ng-click="setQueueStorgePollSecondsInterval()"><i class="glyphicon glyphicon-chevron-right"></i>Update Poll Interval</a>
    </li>
    <li >
        <a style="cursor: pointer" ng-click="setQueueWorkerPoolCount()"><i class="glyphicon glyphicon-chevron-right"></i>Update Pool Count</a>
    </li>-->
</ul>