 <!-- left, vertical navbar & content -->

<!-- left, vertical navbar -->
   
<!-- content -->

<ul class="nav navbar-collapse collapse bootstrap-admin-navbar-side">
    <li>
        <a href="#"><span class="badge pull-right">{{statictics.TotalDeletedJobs}}</span> Deleted</a>
    </li>
    <li>
        <a href="#"><span class="badge pull-right">{{statictics.TotalFailedJobs}}</span> Failed</a>
    </li>
    <li>
        <a href="#"><span class="badge pull-right">{{statictics.TotalNumberOfJobs}}</span> Total</a>
    </li>
    <li>
        <a href="#"><span class="badge pull-right">{{statictics.TotalProcessingJobs}}</span> Processing</a>
    </li>
    <li>
        <a href="#"><span class="badge pull-right">{{statictics.TotalQueuedJobs}}</span> Queued</a>
    </li>
    <li>
        <a href="#"><span class="badge pull-right">{{statictics.TotalSuccessfullJobs}}</span> Successfull</a>
    </li>
    <li>
        <a href="#"><span class="badge pull-right">{{statictics.TotalUnknownJobs}}</span> Unknown</a>
    </li>
    <li class="active">
        <a style="cursor: pointer" ng-click="queueSampleJob()"><i class="glyphicon glyphicon-chevron-right"></i>Queue Sample Job</a>
    </li>
   
</ul>
   