.NodeContent {
    font-family: Verdana;
    font-size: small;
}

.Node {
    background-color: #000;
    border: 1px solid greenyellow;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

.NodeHover {
    background-color: darkslategray;
    border: 1px solid #5280FF;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}

.NodeCollapsed {
    /*background-color: #8FADFF;*/
    border: 2px solid black;
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    text-align: center;
    vertical-align: middle;
}


.NodeLine {
    background-color: greenyellow;
    overflow: hidden;
    position: absolute;
}

#dvTreeContainer * { color: #fff0f5; }