      .NodeContent
{
	font-family:Verdana;
	font-size:small;
}

.Node 
{
	position:absolute;
	background-color: #000;
	border: 1px solid greenyellow;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	overflow:hidden;
}

.NodeHover
{
	position:absolute;
	background-color: darkslategray;
	border: 1px solid #5280FF;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	overflow:hidden;
}

.NodeCollapsed
{
	position:absolute;
	/*background-color: #8FADFF;*/
	border: 2px solid black;
	text-align:center;
	vertical-align:middle;
	cursor:pointer;
	overflow:hidden;
}


.NodeLine
{
	background-color: greenyellow;
	position:absolute;
	overflow:hidden;
}

#dvTreeContainer * {
    color: #fff0f5;
}